@keyframes ping-ring {
  0% {
    transform: translate(-65%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(2.5);
    opacity: 0;
  }
}

.ping-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1rem;
  height: 1rem;
  border: 2px solid #888888;
  border-radius: 9999px;
  animation: ping-ring 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.page-transition {
  position: fixed;
  inset: 0;
  background: white;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.3s ease;
  pointer-events: all;
}

.page-transition:not(.active) {
  opacity: 0;
  pointer-events: none;
}

[x-cloak] {
  display: none !important;
}

.bg-img {
  object-fit: cover;
  object-position: center;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in-up {
  animation: fade-in-up 0.3s ease-out;
}
.ts-wrapper {
  border: 1px solid #d1d5db; /* Tailwind gray-300 */
  border-radius: 0.5rem; /* Tailwind rounded-lg */
  padding: 0rem 0rem;
}
.ts-wrapper.focus {
  border-color: #000; /* Tailwind yellow-400 */
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3); /* focus ring */
}
.step {
  position: absolute;
  inset: 0;
  transition: all 0.4s ease;
  opacity: 0;
  transform: translateX(2rem); /* slide in from right */
  pointer-events: none;
}

.step.step-active {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
  z-index: 10;
}

.step.step-hidden {
  opacity: 0;
  transform: translateX(2rem); /* same offset to keep direction consistent */
  pointer-events: none;
  z-index: 0;
}
.ts-input::before {
  content: attr(data-placeholder);
  font-style: italic;
  color: rgba(0, 0, 0, 0.5); /* Tailwind black/50 */
  pointer-events: none;
}

/* Hide slider arrows on small screens */
@media (max-width: 640px) {
  .trending-nav {
    display: none !important;
  }
}
